<!--
<ng4-loading-spinner> </ng4-loading-spinner>
<div>
  <h3>Events list:</h3>
  <p-table [value]="events">
    <ng-template pTemplate="header">
      <tr class="dsHeader">
        <th>Event Name</th>
        <th>Session Name</th>
        <th>Start Date</th>
        <th>End Date</th>        
        <th>Is Active</th>
        <th>Start Session</th>
        <th>End Session</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-event>
      <tr class="dsBody">
        <td>{{event.name}}</td>
        <td>{{event.description}}</td>
        <td>{{event.start_date}}</td>
        <td>{{event.end_date}}</td>       
        <td>{{event.active}}</td>
        <td><button class="button_appr diableBtn" type="button" [disabled]="event.active == 'Y'" (click)='onStartEvent(event)'>Start</button></td>
        <td><button class="button_rej diableBtn" (click)='onEndEvent(event)' [disabled]="event.active != 'Y'" type="button">End</button></td>
      </tr>
    </ng-template>
  </p-table>
</div>
-->
<div style="text-align: center; color: blue">
  <h2>Sessions for today</h2>
</div>

<table class="calendar_table" style="margin-top:20px;">
  <tr>
    <td><b>Welcome:</b> {{userDetail}}</td>
    <td><b>Date:</b> {{date}}</td>
  </tr>
</table>

<div style="margin-top:20px;" *ngIf="showSpeaker">
  <label> Select new speaker : </label>
  <select (change)="onSelectSpeaker($event.target.value)">
      <option value="-1">Select speaker</option>
      <option *ngFor="let speaker of speakers" [value]="speaker.orator_id">{{speaker.name}}</option>
  </select>
  <button class="button_appr diableBtn" style="margin-left:10px;" [disabled]="enableUpdateSpeakerBtn" (click)='updateSpeaker()'
    type="button">Update</button>
</div>

<div class="border border-dark" style="margin-top:20px; width:410px" *ngIf="showOtherSpeakers">
  <b><label> Add new speaker : </label></b>
  <form #form="ngForm" (ngSubmit)="addNewSpeaker(form.value)">
    <div>
      <b><label style="width:75px">Name : </label> </b>
      <input style="margin-left:10px;width:250px" type="text" name="speakerName" placeholder="Name" [(ngModel)]="speakerName" #pickedName="ngModel">
    </div>
    <div>
      <b><label style="width:75px">Mobile : </label> </b>
      <input style="margin-left:10px;width:250px" type="text" name="speakerMobile" placeholder="Mobile No" [(ngModel)]="speakerMobile"
        #pickedName="ngModel">
    </div>
    <div>
      <b><label style="width:75px">Email : </label> </b>
      <input style="margin-left:10px;width:250px" type="text" name="speakerEmail" placeholder="Email" [(ngModel)]="speakerEmail"
        #pickedName="ngModel">
    </div>
    <div>
      <b><label style="width:75px">Stream : </label> </b>
      <input style="margin-left:10px;width:250px" type="text" name="speakerStream" placeholder="Stream" [(ngModel)]="speakerStream"
        #pickedName="ngModel">
    </div>
    <div>
      <button style="margin-top:30px;margin-left:100px" class="button_appr diableBtn" type="submit">Submit</button>
    </div>   
  </form>
  <div style="margin-top:5px"></div>
</div>

<div style="margin-top:20px;">
  <label> Select sessions : </label>
  <select (change)="onSelectSessionFilter($event.target.value)">
      <option value="-1">Show sessions by</option>
      <option *ngFor="let filter of sessionsFilrer" [value]="filter.id">{{filter.Value}}</option>
  </select>   
</div>

<div style="margin-top:50px">
  <p-table [value]="eventSessions">
    <ng-template pTemplate="header">
      <tr class="dsHeader">
        <th>Event Name</th>
        <th>Session Name</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Speaker Name</th>
        <th>Change Speaker</th>
        <th>Is Active</th>
        <th>Question Pin</th>
        <th>Question Monitor</th>
        <th>Question Report</th>
        <th>Approval Mode</th>
        <th>Start Session</th>
        <th>End Session</th>
        <th>Change Approval Mode</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-quest>
      <tr class="dsBody">
        <td>{{quest.mst_event.name}}</td>
        <td>{{quest.name}}</td>
        <td>{{quest.start_date}}</td>
        <td>{{quest.end_date}}</td>
        <td>{{quest.mst_orator.name}}</td>
        <td><button class="button_appr diableBtn" style="margin-left:5px;" (click)='changeSpeakerForSession(quest)' [disabled]="quest.active == 'Y'"
            type="button">Change Speaker</button></td>
        <td>{{quest.active}}</td>
        <td>{{quest.question_pin}}</td>
        <td> <a routerLink="/qmonitor/{{quest.event_session_id}}" target="_blank" routerLinkActive="active">Q monitor</a></td>
        <td> <a routerLink="/qreport/{{quest.event_session_id}}" target="_blank" routerLinkActive="active">Report</a></td>
        <td>{{quest.is_auto_approval}}</td>
        <td><button class="button_appr diableBtn" type="button" [disabled]="quest.active == 'Y'" (click)='onStartSession(quest)'>Start</button></td>
        <td><button class="button_rej diableBtn" (click)='onEndSession(quest)' [disabled]="quest.active != 'Y'" type="button">End</button></td>
        <td *ngIf="quest.is_auto_approval == 'Auto'"><button class="button_appr diableBtn" style="margin-left:10px;" (click)='updateApprovalModeForSession(quest)' [disabled]="quest.active == 'Y'"
            type="button">Manual</button></td>
        <td *ngIf="quest.is_auto_approval == 'Manual'"><button class="button_appr diableBtn" style="margin-left:10px;" (click)='updateApprovalModeForSession(quest)' [disabled]="quest.active == 'Y'"
            type="button">Auto</button></td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!--
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Speaker Name: <p-dropdown [options]="cities1" [(ngModel)]="selectedCity1"></p-dropdown>
  </div>
</ng-template>
-->
<!--
<div style="margin-top:10px">
  <h3>Approve questions:</h3>
  <p-table [value]="questions">
    <ng-template pTemplate="header">
      <tr class="dsHeader">
        <th>ID</th>
        <th>Session Name</th>
        <th>User</th>
        <th>Question</th>
        <th>Approve</th>
        <th>Reject</th>
        <th>Redo</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-quest>
      <tr class="dsBody">
        <td>{{quest.question_id}}</td>
        <td>{{quest.mst_event_session.name}}</td>
        <td>{{quest.user.name}}</td>
        <td>{{quest.question}}</td>
        <td><button class="button_appr" type="button" [disabled]="quest.question_status_id != 2" (click)='onApprove(quest)'>Approve</button></td>
        <td><button class="button_rej" (click)='onReject(quest)' type="button">Reject</button></td>
        <td><button class="button_redo" (click)='onRedo(quest)' type="button">Redo</button></td>
      </tr>
    </ng-template>
  </p-table>
</div>
-->

<!--
<div style="margin-top:10px">
  <table>
    <tr>
      <td><h3>Generate Feedback Report For Session:</h3></td>   
      <td>
        <button class="button_rpt diableBtn" type="button" [disabled]="activeSessionId == 0" (click)='onReport()'>Report</button>
      </td>
    </tr>
  </table>
  <div style="margin-top:10px"> 
  <p-table [value]="feedbackReport">
    <ng-template pTemplate="header">
      <tr class="dsHeader">        
        <th>Session Name</th>
        <th>Question</th>
        <th>Question By</th>
        <th>Feedback Count</th>        
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-report>
      <tr class="dsBody">
        <td>{{report.session_name}}</td>
        <td>{{report.question}}</td>
        <td>{{report.question_by}}</td>
        <td>{{report.feedback_count}}</td>        
      </tr>
    </ng-template>
  </p-table>
</div>
</div>
-->
<!--
<div style="margin-top:10px"> 
  
  <h3>Generate Feedback Report For Session Id:</h3>
   <form #feedbackReport = "ngForm" (ngSubmit) = "onGenerateReport(feedbackReport.value)" >
  <table>
    <tr>   
      <td>
       <h4> Session Id: </h4>
      </td>   
      <td>
        
       <input type="text" name="sessionId" placeholder = "Session Id" [(ngModel)]="rptSessionId" #pickedName="ngModel"><br>
      </td>
      <td>
        <input class="button_otp" type = "submit" value = "Send">
      </td>
    </tr>
  </table>
  
  </form>
  
</div>
<div style="margin-top:10px" *ngIf="showReport"> 
  <p-table [value]="feedbackReports">
    <ng-template pTemplate="header">
      <tr class="dsHeader">        
        <th>Session Name</th>
        <th>Question</th>
        <th>Question By</th>
        <th>Feedback Count</th>        
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-report>
      <tr class="dsBody">
        <td>{{report.session_name}}</td>
        <td>{{report.question}}</td>
        <td>{{report.question_by}}</td>
        <td>{{report.feedback_count}}</td>        
      </tr>
    </ng-template>
  </p-table>
</div>

-->
<!--
<div style="margin-top:10px">
  <table>
    <tr>
      <td><h3>Send OTP:</h3></td>   
      <td>
        <button class="button_otp" type="button" (click)='onApprove()'>OTP</button>
      </td>
    </tr>
  </table>
</div>


<div style="margin-top:10px"> 
  
  <h3>Send SMS:</h3>
   <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" >
  <table>
    <tr>      
      <td>
        <textarea rows="4" cols="50"  name = "smsText" placeholder = "SMS message" [(ngModel)]="smsText" #pickedName="ngModel">
      </textarea> 
      </td>
      <td>
        <input class="button_otp" type = "submit" value = "Send">
      </td>
    </tr>
  </table>
  </form>
</div>
-->
