<div> 
  <div class="border login"> 
    <table >
        <tr>
          <td> <img src="../assets/images/Logo.png" style="width:120px;heigth:120px" alt="Knowledge Weavers"></td>
          <td><h4 style="margin-left:50px">Welcome to Admin Portal</h4></td>
        </tr>
    </table>    
   <form #form="ngForm" (ngSubmit)="submit(form.value)">
      <table style="margin-top:30px;">
        <tr>
          <td><b><label style="margin-left:30px;">Enter registered mobile no / Email:</label> </b></td>
          <td><input style="margin-left:5px;height:40px;width:250px" type="text" name="userInput" placeholder="Email / Mobile No" [(ngModel)]="userInput" #pickedName="ngModel" ></td>
        </tr>
        <tr></tr>

        <tr>
          <td><button style="margin-top:50px;margin-left:200px" class="button_appr diableBtn" [disabled]="userInput == null || userInput.trim() == ''"  type="submit" >Log In</button></td>
        </tr>
      </table>
    </form>   
  </div>
